<app-header></app-header>
<div class="body vh-100">
  <div class="container py-5">
    <div class="row">
      <div class="col-6">
        <app-form></app-form>
      </div>
      <div class="col-6">
        <app-informations></app-informations>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
