<div class="border rounded p-3">
  <div class="min-h-100">
    <h3 class="mb-3">Formulaire</h3>
    <form (ngSubmit)="submit($event)">
      <div class="form-group mb-4">
        <label class="mb-2" for="ville">Ville</label>
        <input name="ville" class="form-control" [(ngModel)]="formData.ville" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Envoyer</button>
      </div>
    </form>
  </div>
</div>
